/* src/styles/skillsAnimations.css */

/* Progress bar animation */
@keyframes progressBar {
  0% {
    width: 0px;
  }
  80% {
    width: 80%;
  }
}

/* Percentage counter animation */
@keyframes counter {
  from {
    content: "0%";
  }
  to {
    content: attr(data-percentage);
  }
}

.progress-bar {
  height: 100%;
  transition: width 1s ease-in-out;
  animation-fill-mode: forwards;
  /* Smooth width transition */
}

.progress-percentage::after {
  animation: counter 2s steps(20) forwards;
  content: attr(data-percentage);
}
